@model RazorViewsDemo.Models.Home.DemoViewModel;
@{
    ViewData["Title"] = "Partial2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Partial2</h1>

<partial name="_CommonPartial" />

<partial name="_UsersListPartial" model="@(new[] { "Pesho", "Maria"})" />