
@{
    ViewData["Title"] = "Section";
}

<h1>Section</h1>

@section MenuItems {
    @if (DateTime.UtcNow.DayOfWeek == DayOfWeek.Thursday)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://softuni.bg">SoftUni</a>
        </li>
    }

    <li class="nav-item">
        <a class="nav-link text-dark" href="https://google.com">Google</a>
    </li>
}